# Entornos virtuales
frutas_venv/
.venv/
venv/
env/
__pycache__/
*.pyc

# IDEs y Editores
.vscode/
.idea/
*.swp
.DS_Store

# Datos Crudos (Imágenes y Etiquetas)
Fruits/
data/training/
frontend/uploads/
*.mp4
*.avi
*.mkv

# Modelos Pesados de IA
*.pt
!src/backend/models/finetuned/best.pt
yolov8n.pt
yolo26n.pt

# Salidas de Entrenamiento y Logs
runs/
logs/
*.log

# Dependencias Node/Frontend
node_modules/
dist/
build/
.npm/

# Variables de entorno
.env
.env.local
